@charset "UTF-8";

/*
 * Debug only. Do not post on live server!
 */

header {
    margin: 0 12px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 35px;
    left: 0;
}

h1 {
    font-size: 95%;
}

h1 img {
    vertical-align: middle;
}

#push {
    padding: 4px;
    position: fixed;
    top: 48px;
    right: 12px;
    bottom: 240px;
    left: 12px;
    overflow: auto;
    font-size: 95%;
}

article {
    padding: 4px;
    position: fixed;
    top: 48px;
    right: 12px;
    bottom: 36px;
    left: 14px;
    overflow: auto;
    font-size: 95%;
    background-color: #ccc;
    color: #000;
    z-index: 1000;
}

nav {
    font-size: 95%;
    text-align: center;
    padding-top: 8px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

#login {
    z-index: 1001;
}

#stat, #by {
    font-size: 85%;
}

h2 {
    font-size: 115%;
    margin: 0;
}

label {
    font-weight: bold;
}

input {
    border: 1px outset;
    font-size: 85%;
    padding: 4px;
}

input:hover {
    border: 1px inset;
}

input[type=submit] {
    font-weight: bold;
    margin: 4px;
}

#char {
    text-align: center;
    border: 0;
    padding: 0;
}

textarea {
    font-size: 95%;
    border: 1px solid;
    padding: 4px;
    width: 50%;
    max-width: 400px;
}

textarea:hover {
    border: 1px inset;
}

select {
    font-size: 105%;
    border: 1px outset;
    padding: 2px;
}

select:hover {
    border: 1px inset;
}

.item {
    font-size: 95%;
    border: 1px solid;
    margin: 8px 0 16px 0;
}

.item:hover {
    border: 1px solid;
}

.item_log {
    padding: 4px 10px;
}

.item_head {
    font-size: 95%;
    padding: 4px;
}

.item_name {
    float: right;
}

.item_text {
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 4px;
}

a:link {
    text-decoration: none;
}

.emo {
    font-size: 135%;
}

#close {
    position: fixed;
    top: 50px;
    right: 24px;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 85%;
    }
}

@media screen and (max-width: 480px) {
    textarea {
        width: 80%;
    }
}
