@charset "UTF-8";

body {
    background-color: #000;
    color: #666;
    font-family: sans-serif;
}

header {
    background-color: #000;
    color: #666;
    font-weight: bold;
    padding: 2px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

article {
    background-color: #000;
    color: #666;
    position: fixed;
    top: 28px;
    right: 0;
    bottom: 205px;
    left: 0;
    overflow: auto;
    padding: 0 8px;
    z-index: 1000;
    font-size: 115%;
}

#ac_push {
    position: fixed;
    top: 28px;
    right: 0;
    bottom: 175px;
    left: 0;
    overflow: auto;
    margin-bottom: 5px;
    padding: 8px;
}

nav {
    background-color: #000;
    color: #666;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#ac_stat {
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

footer {
    position: fixed;
    right: 25%;
    bottom: 0;
    left: 25%;
    font-size: 85%;
    text-align: center;
    padding: 6px;
}

h1 {
    margin-top: 8px;
}

#ac_logo {
    float: left;
    margin: 2px 2px 2px 4px;
}

#ac_logo img {
    border-radius: 50%;
    vertical-align: top;
}

#ac_live {
    float: right;
    font-weight: normal;
    margin: 2px 4px 2px 2px;
}

label {
    font-weight: bold;
}

input {
    background-color: #000;
    color: #666;
    border: 1px outset #666;
    font-size: 100%;
    padding: 2px 4px;
}

input:hover {
    background-color: #666;
    color: #000;
    border: 1px inset #666;
}

input[type=submit] {
    font-weight: bold;
    margin: 16px;
}

input[type=submit]:hover {
    transform: scale(0.9);
}

textarea {
    background-color: #000;
    color: #666;
    font-size: 105%;
    border: 1px solid #666;
    width: 99%;
}

textarea:hover {
    background-color: #666;
    color: #000;
    border: 1px inset #666;
}

select {
    background-color: #000;
    color: #666;
    font-size: 105%;
    border: 1px outset #666;
    padding: 2px 4px;
}

select:hover {
    background-color: #666;
    color: #000;
    border: 1px inset #666;
}

.ac_item {
    border-bottom: 1px solid #666;
    padding: 8px;
}

.ac_item:hover {
    background-color: #666;
    color: #000;
}

@keyframes latest {
    0% {
        background-color: #333;
    }

    100% {
        background-color: 666;
    }
}

.latest {
    animation: latest 5s ease-in-out;
}

.latest:hover {
    animation: none;
}

a {
    background-color: transparent;
    color: #666;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: #999;
}

code {
    font-family: monospace;
    font-size: 115%;
    font-weight: bold;
    background-color: #999;
    color: #000;
    padding: 0 4px;
}

.emo {
    font-size: 135%;
}

pre .emo {
    font-size: 185%;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 115%;
    }
}
