@charset "UTF-8";

body {
    background-color: #ccf;
    color: #00c;
    font-family: sans-serif;
}

header {
    background-color: #ccf;
    color: #00c;
    margin: 0 12px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 35px;
    left: 0;
}

h1 {
    font-size: 95%;
}

h1 img {
    vertical-align: middle;
}

#push {
    background-color: #ccf;
    color: #00c;
    padding: 4px;
    position: fixed;
    top: 48px;
    right: 12px;
    bottom: 240px;
    left: 12px;
    overflow: auto;
    font-size: 95%;
}

article {
    background-color: #ccf;
    color: #00c;
    padding: 4px;
    position: fixed;
    top: 48px;
    right: 12px;
    bottom: 36px;
    left: 14px;
    overflow: auto;
    font-size: 95%;
    z-index: 1000;
}

nav {
    background-color: #ccf;
    color: #00c;
    font-size: 95%;
    text-align: center;
    padding-top: 8px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

#login {
    z-index: 1001;
}

#stat, #by {
    font-size: 85%;
}

h2 {
    font-size: 115%;
    margin: 0;
}

label {
    font-weight: bold;
}

input {
    background-color: #99f;
    color: #009;
    border: 1px outset #99f;
    font-size: 85%;
    padding: 4px;
}

input:hover {
    background-color: #00c;
    color: #ccf;
    border: 1px inset #ccf;
}

input[type=submit] {
    font-weight: bold;
    margin: 4px;
}

input[type=submit]:hover {
    transform: scale(0.9);
}

#char {
    background-color: transparent;
    color: #00c;
    text-align: center;
    border: 0;
    padding: 0;
}

textarea {
    background-color: #ccf;
    color: #006;
    font-size: 95%;
    border: 1px solid #99f;
    padding: 4px;
    width: 50%;
    max-width: 400px;
}

textarea:hover {
    background-color: #99f;
    color: #003;
    border: 1px inset #ccf;
}

select {
    background-color: #ccf;
    color: #006;
    font-size: 105%;
    border: 1px outset #ccf;
    padding: 2px;
}

select:hover {
    background-color: #ccf;
    color: #009;
    border: 1px inset #ccf;
}

.item {
    font-size: 95%;
    border: 1px solid #99f;
    margin: 8px 0 16px 0;
}

.item:hover {
    background-color: #ccf;
    color: #006;
    border: 1px solid #99f;
}

.item_log {
    background-color: transparent;
    color: #006;
    padding: 4px 10px;
}

.item_head {
    font-size: 95%;
    background-color: #99f;
    color: #009;
    padding: 4px;
}

.item:hover .item_head {
    background-color: #00c;
    color: #ccf;
}

.item_name {
    float: right;
}

.item_text {
    font-family: sans-serif;
    font-size: 100%;
    white-space: pre-wrap;
    margin: 0;
    padding: 4px;
}

a:link, a:visited {
    background-color: transparent;
    color: #00c;
    text-decoration: none;
}

a:hover, a:active {
    background-color: transparent;
    color: #99f;
}

.item:hover a:link, .item:hover a:visited {
    background-color: transparent;
    color: #00c;
}

.item:hover a:hover, .item:hover a:active {
    background-color: transparent;
    color: #99f;
}

.emo {
    font-size: 135%;
}

#close {
    position: fixed;
    top: 50px;
    right: 24px;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 85%;
    }
}

@media screen and (max-width: 480px) {
    textarea {
        width: 80%;
    }
}
