@charset "UTF-8";

body {
    background-color: #fff;
    color: #000;
    font-family: "DejaVu Sans", Arial, sans-serif;
}

header {
    background-color: #fff;
    color: #000;
    margin: 0 12px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 35px;
    left: 0;
}

h1 {
    font-size: 95%;
}

h1 img {
    border-radius: 50%;
    vertical-align: top;
}

#push {
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 35px;
    right: 12px;
    bottom: 210px;
    left: 12px;
    overflow: auto;
    font-size: 95%;
}

article {
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 35px;
    right: 4px;
    bottom: 210px;
    left: 12px;
    overflow: auto;
    z-index: 1000;
    margin: 0 8px;
    padding: 4px;
    font-size: 95%;
}

nav {
    background-color: #fff;
    color: #000;
    font-size: 95%;
    text-align: center;
    padding: 4px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

#stat {
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 24px;
    padding-bottom: 24px;
}

#by {
    font-size: 85%;
    margin-top: -40px;
}

h2 {
    font-size: 115%;
    margin: 0;
}

label {
    font-weight: bold;
}

input {
    background-color: #ccc;
    color: #333;
    border: 1px outset #ccc;
    font-size: 100%;
    padding: 4px;
}

input:hover {
    background-color: #999;
    color: #000;
    border: 1px inset #999;
}

input[type=submit] {
    font-weight: bold;
    margin: 16px;
}

input[type=submit]:hover {
    transform: scale(0.9);
}

#lang input[type=submit] {
    margin: 0;
}

textarea {
    background-color: #fff;
    color: #000;
    font-size: 105%;
    border: 1px solid #ccc;
    padding: 4px;
    width: 96%;
}

textarea:hover {
    background-color: #ccc;
    color: #000;
    border: 1px inset #ccc;
}

select {
    background-color: #ccc;
    color: #333;
    font-size: 105%;
    border: 1px outset #ccc;
    padding: 2px;
}

select:hover {
    background-color: #999;
    color: #000;
    border: 1px inset #999;
}

.item {
    border: 1px solid #ccc;
    margin: 8px 8px 16px 8px;
}

.item:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #ccc;
}

.item_log {
    padding: 4px 10px;
}

.item_head {
    background-color: #ccc;
    color: #000;
    padding: 4px;
    border-bottom: 1px solid #ccc;
}

.item:hover .item_head {
    background-color: #666;
    color: #ccc;
}

.item_date {
    float: left;
}

.item_name {
    text-align: right;
}

.item_text {
    white-space: pre-wrap;
    padding: 4px;
}

a {
    background-color: transparent;
    color: #000;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: #666;
}

#emo {
    font-size: 135%;
    font-weight: bold;
}

.emo {
    font-size: 135%;
}

#close {
    position: fixed;
    top: 24px;
    right: 16px;
}

@media screen and (max-width: 700px) {
    header {
        bottom: 40px;
    }

    #push, article {
        top: 40px;
    }

    #close {
        top: 32px;
    }
}

@media screen and (max-width: 600px) {
    #stat {
        margin-bottom: 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 400px) {
    header {
        bottom: 45px;
    }

    #push, article {
        top: 45px;
    }
}

@media screen and (max-width: 300px) {
    header {
        bottom: 50px;
    }

    #push, article {
        top: 50px;
    }

    #close {
        top: 40px;
    }
}
