@charset "UTF-8";

body {
    font-family: sans-serif;
}

.block {
    max-width: 600px;
    margin: 0 auto;
    padding: 4px;
}

article {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 11em;
    left: 0;
    overflow: auto;
}

nav {
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 9em;
}

#login {
    bottom: 3em;
}

.login{
    height: 2em;
    margin: 4px auto;
}

#post {
    position: absolute;
    top: 0.3em;
    right: 0;
}

#set {
    position: absolute;
    top: 3em;
    right: 0;
}

#quit {
    position: absolute;
    top: 0.3em;
    left: 0;
}

#save {
    position: absolute;
    top: 3em;
    left: 0;
}

#su {
    position: absolute;
    bottom: 0.3em;
    left: 0;
}

#close {
    margin: 4px auto;
}

#by {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: small;
    margin: auto auto;
    padding: 4px;
}

#by span {
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    animation: anim 0.9s infinite alternate;
}

#by span:nth-of-type(2) {
    animation-delay: 0.3s;
}

#by span:nth-of-type(3) {
    animation-delay: 0.6s;
}

@keyframes anim {
    0% {
        opacity: 0.9;
        transform: translateY(0);
    }

    100% {
        opacity: 0.1;
        transform: translateY(-8px);
    }
}

h1 {
    font-size: x-large;
    margin: 0 0 1em 0;
}

h2 {
    font-size: large;
    margin: 0;
}

input {
    font-size: medium;
    vertical-align: middle;
    max-width: 50%;
}

input[type=submit] {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
}

input[type=file] {
    font-size: small;
    max-width: 65%;
}

#txta {
    background-color: transparent;
    background-image: none;
    border: 0;
    font-size: small;
    padding: 0 0 2px 0;
}

textarea {
    padding: 4px;
    width: 65%;
}

select {
    font-size: medium;
    margin: 0;
    padding: 1px;
}

.item {
    font-size: small;
    margin: 8px 0 16px 0;
}

.item_head {
    padding: 2px;
}

.item_name {
    float: right;
}

.item_text {
    font-size: larger;
    white-space: pre-wrap;
    margin: 0;
    padding: 2px;
}

.item_log {
    font-size: small;
}

ul li {
    font-size: smaller;
    font-weight: bold;
}

ul li ul li {
    font-size: small;
    font-weight: normal;
}

#super p {
    text-align: right;
}

#super .aleft {
    text-align: left;
}

#super label {
    float: left;
}

#super select {
    padding: 0;
}

p#nav {
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
}

#mo {
    font-size: small;
    text-align: center;
    max-width: 15em;
    margin: auto auto;
}

#mo_list {
    position: absolute;
    top: -2em;
    right: 0;
    bottom: 10em;
    left: 0;
    text-align: left;
    overflow: auto;
    visibility: hidden;
    z-index: 2;
}

#mo:hover #mo_list {
    visibility: visible;
}

.emo_id {
    background-color: transparent;
    background-image: none;
    color: inerit;
    font-family: monospace;
    font-size: x-large;
    border: 0;
    width: 1em;
    height: 1em;
    margin: 8px;
}

.emo_id:hover {
    background-color: transparent;
    background-image: none;
    color: inherit;
    border: 0;
}

.emo {
    font-family: monospace;
    font-size: medium;
    white-space: pre-nowrap;
}

.emo_big {
    font-family: monospace;
    font-size: large;
    white-space: pre-nowrap;
}

.glue {
    white-space: line-wrap;
}

.s {
    font-size: small;
}

hr {
    display: none;
}
