@charset "UTF-8";

body {
    font-family: sans-serif;
}

.block {
    max-width: 35em;
    margin: 0 auto;
    padding: 0.2em;
}

article {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 10em;
    left: 0;
    overflow: auto;
}

nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: small;
    text-align: center;
}

#login {
    bottom: 3em;
}

.login{
    height: 3em;
    margin: 0.2em auto;
}

#by span {
    display: inline-block;
    vertical-align: middle;
    width: 0.2em;
    height: 0.2em;
    border-radius: 50%;
    animation: anim 0.9s infinite alternate;
}

#by span:nth-of-type(2) {
    animation-delay: 0.3s;
}

#by span:nth-of-type(3) {
    animation-delay: 0.6s;
}

@keyframes anim {
    0% {
        opacity: 0.9;
        transform: translateY(0);
    }

    100% {
        opacity: 0.1;
        transform: translateY(-0.4em);
    }
}

h1 {
    font-size: large;
    margin: 0 0 1em 0;
}

h2 {
    font-size: medium;
}

input[type=text], input {
    font-size: small;
    vertical-align: middle;
    max-width: 50%;
}

input[type=submit] {
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    width: 1.8em;
    height: 1.8em;
    margin: 0.4em;
    border-radius: 50%;
}

#check {
    font-size: large;
    text-align: center;
}

#box {
    border-radius: 50%;
    padding: 0.2em 0.3em 0.4em 0.2em;
}

input[type=file] {
    font-size: small;
    max-width: 65%;
}

#txta {
    background-color: transparent;
    background-image: none;
    border: 0;
    padding: 0 0 0.1em 0;
    font-size: small;
}

textarea {
    width: 85%;
}

select {
    font-size: small;
}

.item {
    font-size: small;
    margin: 0.2em auto;
}

.item_head {
    padding: 0.1em;
}

.item_date {
    cursor: pointer;
}

.item_name {
    float: right;
}

.item_text {
    clear: both;
    font-size: larger;
    white-space: pre-wrap;
    margin: 0;
    padding: 0.1em;
}

.item_log {
    font-size: small;
}

ul li {
    font-size: smaller;
    font-weight: bold;
}

ul li ul li {
    font-size: small;
    font-weight: normal;
}

#super p {
    text-align: right;
}

#super .close, .close {
    text-align: center;
}

#super .aleft {
    text-align: left;
}

#super label {
    float: left;
}

a:link, a:visited {
    text-decoration: none;
}

#mo {
    text-align: center;
}

#mo_list {
    position: absolute;
    right: 0.2em;
    bottom: 9.5em;
    left: 0.2em;
    min-height: 10em;
    max-height: 20em;
    text-align: left;
    overflow: auto;
    visibility: hidden;
    z-index: 2;
}

#mo:hover #mo_list {
    visibility: visible;
}

.emo_id {
    background-color: transparent;
    background-image: none;
    color: inerit;
    font-family: monospace;
    border: 0;
    width: 1em;
    height: 1em;
    margin: 0.2em;
}

#mo:hover #mo_list .emo_id {
    font-size: large;
}

.emo_id:hover {
    background-color: transparent;
    background-image: none;
    color: inherit;
    border: 0;
}

.emo_id:hover {
    display: inline-block;
    transform: scale(1.5);
}

.emo {
    font-family: monospace;
    font-size: medium;
    white-space: pre-nowrap;
}

.glue {
    white-space: line-wrap;
}

.large {
    font-size: large;
}

hr {
    display: none;
}
