@charset "UTF-8";

body {
    background-color: #ccf;
    color: #00c;
}

.block {
    background-color: #ccf;
    color: #00c;
}

#by span {
    background-color: #00c;
    color: #ccf;
}

input, #box {
    background-color: #9cc;
    background-image: linear-gradient(#99c, #9cc);
    color: #339;
    border: 1px solid #99f;
}

#txta {
    color: #00c;
}

textarea {
    background-color: #9cc;
    background-image: linear-gradient(#99c, #9cc);
    color: #339;
    border: 1px solid #99f;
}

select {
    background-color: #9cc;
    background-image: linear-gradient(#99c, #9cc);
    color: #339;
    border: 1px solid #99f;
}

.item {
    border: 1px solid #99f;
}

.item_head {
    background-color: #99f;
    color: #009;
}

.item:hover .item_head {
    background-color: #9cc;
    color: #006;
}

.item_log {
    background-color: transparent;
    color: #669;
}

input:hover, textarea:hover, select:hover, .item:hover {
    background-color: #99f;
    background-image: linear-gradient(#9cc, #99c);
    color: #006;
    border: 1px solid #99c;
}

a:link, a:visited {
    background-color: transparent;
    color: #00c;
}

a:hover, a:active {
    background-color: transparent;
    color: #003;
}

#mo_list {
    background-color: #ccf;
    color: #00c;
    border: 1px solid #99f;
}
