@charset "UTF-8";

body {
    background-color: #999;
    color: #333;
}

.block {
    background-color: #999;
    color: #333;
}

#by span {
    background-color: #333;
    color: #999;
}

input, #box {
    background-color: #999;
    background-image: linear-gradient(#666, #ccc);
    color: #333;
    border: 1px solid #666;
}

#txta {
    color: #000;
}

textarea {
    background-color: #999;
    background-image: linear-gradient(#666, #ccc);
    color: #333;
    border: 1px solid #666;
}

select {
    background-color: #999;
    background-image: linear-gradient(#666, #ccc);
    color: #333;
    border: 1px solid #666;
}

.item {
    border: 1px solid #666;
}

.item_head {
    background-color: #666;
    color: #000;
}

.item:hover .item_head {
    background-color: #333;
    color: #ccc;
}

.item_log {
    background-color: transparent;
    color: #666;
}

input:hover, textarea:hover, select:hover, .item:hover {
    background-color: #ccc;
    background-image: linear-gradient(#ccc, #666);
    color: #000;
    border: 1px solid #666;
}

a:link, a:visited {
    background-color: transparent;
    color: #333;
}

a:hover, a:active {
    background-color: transparent;
    color: #000;
}

#mo_list {
    background-color: #999;
    color: #333;
    border: 1px solid #666;
}
